* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.navigation::before,
.navigation::after,
.cade::before,
.cade::after,
.container::before,
.container::after {
    clear: both;
    content: "";
    display: block;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: block;
    float: left;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-11 {
    width: 91.66666666666%;
}

.col-12 {
    width: 100%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fister-screen {
    background: url(./niu-slider01.jpg) no-repeat;
    background-size: 100%;
    min-height: 680px;
    position: relative;
}

.navigation {
    background: #fefeff;
    position: absolute;
    left: 12%;
    right: 12%;
    top: 15px;
    padding: 15 35px;
}

.navigation a {
    color: #333;
    font-size: 1.3rem;
    padding-right: 30px;
}

.navigation a:hover {
    color: #777;
}

#logo {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
}

#logo:hover {
    color: rgba(255, 0, 0, .5);
}

.main .cade .col-3 {
    padding:20px 10px;
}

.main .cade .title {
    font-size: 1.2rem;
    color:black;
    font-weight: bold;
    padding: 10 0 0 25px;
}

.main .cade .text {
    color: rgba(0, 0, 0, .4);
    padding-left: 25px;
}

.link-group .title {
    font-size: 1rem;
    font-weight: bold;
}

footer {
    background: #5c6670;
}

.link-group a {
    display: block;
    color: rgba(0, 0, 0, .4);
    font-size: .8rem;
}

.link-group a:hover {
    color: black;
}

