

.left, .right {
    width: 50%;
}

.right {
    text-align: right;
}

.nav {
    background: black;
}

.nav .left > a,
.nav .right > a {
    display: inline-block;
    color: white;
    padding: 10px 5px;
    font-family: 'microsoft yahei';
    font-size: 90%;
}

.nav a:hover {
    color: greenyellow;
    background: green
}