.row {
    font-size: 0;
}

.col {
    font-size: 15px;
    vertical-align: top;
    display: inline-block;
}

.nav {
    background-image: url(beijing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: 5px;
}

.left, .right {
    width: 50%;
}

.right {
    text-align: right;
}

#logo, .logo-img {
    position: relative;
    top: 35px;
}


.nav a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    position: relative;
    top: 45px;
}

h2 {
    position: relative;
    top: 100px;
}
