@media (max-width: 500px) {
    .navigation {
        left: 10px;
        right: 10px;
        top: 1%;
        padding: 15px;
    }
    
    .navigation > * {
        float: left;
    }

    .col-7 {
        width: 100%
    }

    .navigation .float-right *,
    .navigation .col-7 * {
        font-size: .8rem;
        padding: 3px;
    }
}