* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.row {
    font-size: 0;
}

.col {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
}