.cr {
    color: #ff0036
}

.gr {
    color: rgba(0, 0, 0, .4);
}

.navigation {
    background: #f2f2f2;
}

.navigation a {
    display: inline-block;
    padding: 10px;
}

.navigation a:hover {
    color: #ff0036;
}

.navigation a,
.navigation .text {
    font-size: 75%;    
    color: rgba(0, 0, 0, .6);
}

.navigation i {
    color: #ff0036;
}

.right {
    text-align: right;
}

.search-area, .logo {
    vertical-align: middle;
}

.first-screen .top {
    padding: 15px;
}

.top .search-area {
    margin-left: 90px;    
}

.logo {
    margin-left: -60px;
}

#search {
    width: 80%;
    border: 2px solid #ff0036;
    padding: 9px;
}

#submit {
    width: 20%;
    background: #ff0036;
    color: #fff;
    border: 0;
    padding: 11px;
}

#search, #submit {
    font-size: 1.3rem;
    line-height: 1.1;
    vertical-align: middle;    
}

.search-bottom > a {
    padding: 3 13 3 0px;
}

.slider-area-top .title {
    background: #ff0036;
    color: #fff;
    font-size: 1rem;
    padding: 8 20px;
    font-weight: bold;
}

.nav-page a {
    display: inline-block;
    color: black;
    padding-left: 10px;
    font-size: 1rem;
}

.nav-page a:hover {
    color:#ff0036;
}

.nav-page .img {
    height: 35px;
    width: 120px;
}

.slider-area-top .title,
.slider-area-top .nav-page > * {
    vertical-align: middle;
}

.main-top {
    border-bottom: 2px solid #ff0036; 
}

.slider-area {
    background-image: url(../img/tianmao-slider.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 0;
}

.slider-area .category {
    background: rgba(0, 0, 0, .6);
}

.slider-area .category  a {
    display: block;
    color: #eee;
    padding:5px 30px;
    font-size: .9rem;
}

.slider-area .category a:hover {
    color: #ff0036;
    background: #fff;
}

.main {
    background: #f5f5f5;
    padding-top: 45px;
}

.main * * {
    background: #fff;
}

.main .card-title {
    padding: 15px;
}

.main .card-two {
    font-size: 0;
}

.promotion-cade .col-9 .col-6 {
    /* margin-left: 5px; */
    width: 45%;
    /* padding: 20px; */
}

.card-two .link-img a img {
    /* padding-left: 40px; */
    height: 400px;
}